[Unit]
Description=rclone: Remote FUSE filesystem for %i
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount --vfs-cache-mode writes %i: /path/to/mount/%i
ExecStop=/bin/fusermount -uz /path/to/mount/%i
Restart=on-abort

[Install]
WantedBy=default.target
